<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso University</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand"
                   href="/home/index"
                   hx-trigger="click"
                   hx-get="/home/index"
                   hx-target="#root"
                   hx-swap="innerHTML"
                   hx-push-url="/home/index">
                    Contoso University
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                               href="/home/index"
                               hx-trigger="click"
                               hx-get="/home/index"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/home/index">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               href="/home/about"
                               hx-trigger="click"
                               hx-get="/home/about"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/home/about">
                                About
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                               href="/students/index"
                               hx-trigger="click"
                               hx-get="/students/index"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/students/index">
                                Students
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               href="/courses/index"
                               hx-trigger="click"
                               hx-get="/courses/index"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/courses/index">
                                Courses
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                               href="/instructors/index"
                               hx-trigger="click"
                               hx-get="/instructors/index"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/instructors/index">
                                Instructors
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               href="/departments/index"
                               hx-trigger="click"
                               hx-get="/departments/index"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/departments/index">
                                Departments
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" id="root" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Contoso University - <a href="/home/privacy"
                                                  hx-trigger="click"
                                                  hx-get="/home/privacy"
                                                  hx-target="#root"
                                                  hx-swap="innerHTML"
                                                  hx-push-url="/home/privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/htmx/htmx.min-2.0.6.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
