@using ContosoUniversity.Enums;
@model IEnumerable<ContosoUniversity.Models.Course>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            <a href="/courses/@item.CourseID?action=@ActionType.Edit.ToString()"
               hx-trigger="click"
               hx-get="/courses/@item.CourseID?action=@ActionType.Edit.ToString()"
               hx-target="#dialog"
               hx-swap="innerHTML">
                Edit
            </a>
            |
            <a href="/courses/@item.CourseID?action=@ActionType.View.ToString()"
               hx-trigger="click"
               hx-get="/courses/@item.CourseID?action=@ActionType.View.ToString()"
               hx-target="#dialog"
               hx-swap="innerHTML">
                Details
            </a>
            |
            <a href="/courses/@item.CourseID?action=@ActionType.Delete.ToString()"
               hx-trigger="click"
               hx-get="/courses/@item.CourseID?action=@ActionType.Delete.ToString()"
               hx-target="#dialog"
               hx-swap="innerHTML">
                 Delete
            </a>
        </td>
    </tr>
}