@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<p>
    <a href="/courses/create"
       hx-trigger="click"
       hx-get="/courses/create"
       hx-target="#dialog"
       hx-swap="innerHTML">
        Create New
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Title</th>
            <th>Credits</th>
            <th>Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="detailList"
           hx-trigger="load, listChanged from:body"
           hx-get="?loadDetails=true"
           hx-target="this"
           hx-swap="innerHTML">
        <tr>
            <td class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </td>
        </tr>
    </tbody>
</table>
<div id="modal" class="modal fade">
    <div id="dialog" 
            class="modal-dialog modal-lg modal-dialog-centered"
            hx-target="this">
    </div>
</div>

<script src="~/js/dialog.js" asp-append-version="true" defer></script>
