@model IEnumerable<ContosoUniversity.Models.Course>

@if (Model.Any())
{
    <div class="fw-semibold text-decoration-underline">Courses</div>
    <div class="row">
        <div class="col-1 fw-semibold">Number</div>
        <div class="col-2 fw-semibold">Title</div>
        <div class="col-2 fw-semibold">Department</div>
    </div>
    @foreach(var item in Model)
    {
        <div class="row">
            <div class="col-1">
                <details data-toggle-state-values="collapse|expand"
                         data-toggle-state="collapse"
                         hx-on:toggle='HtmxUtils.handleToggle(event, this);'
                         hx-on:toggle-collapse='document.getElementById("courses-enrollments-@item.CourseID").innerHTML="";'
                         hx-trigger="toggle-expand"
                         hx-get="?courseID=@item.CourseID"
                         hx-target="#courses-enrollments-@item.CourseID"
                         hx-swap="innerHTML">
                    <summary>@item.CourseID</summary>
                </details>
            </div>
            <div class="col-2">@item.Title</div>
            <div class="col-2">@item.Department.Name</div>
        </div>
        <div class="mt-1 ms-3" id="courses-enrollments-@item.CourseID"></div>
    }
}
