@model IEnumerable<ContosoUniversity.Models.Enrollment>

@if (Model != null && Model.Any())
{
    <div class="bg-light p-3">
        <div class="fw-semibold text-decoration-underline">Students</div>
        <div class="row">
            <div class="col-3 fw-semibold">Name</div>
            <div class="col-1 fw-semibold">Grade</div>
        </div>

    @foreach(var item in Model)
    {
        <div class="row">
            <div class="col-3">@item.Student.FullName</div>
            <div class="col-1">@Html.DisplayFor(modelItem => item.Grade)</div>
        </div>
    }
    </div>
}
