@{
    ViewData["Title"] = "Instructors";
}

<h1>Instructors</h1>

<p>
    <a href="/instructors/create"
       hx-trigger="click"
       hx-get="/instructors/create"
       hx-target="#dialog"
       hx-swap="innerHTML">
        Create New
    </a>
</p>
<div class="container"
       id="InstructorTable"
       hx-on::load='if (!this.htmxDialogInitialized) { this.htmxDialogInitialized = HtmxDialog.initialize("modal", "dialog"); }'>
    <div class="row">
        <div class="col-sm fw-semibold">Last Name</div>
        <div class="col-sm fw-semibold">First Name</div>
        <div class="col-sm fw-semibold">Hire Date</div>
        <div class="col-sm fw-semibold">Office</div>
        <div class="col-sm"></div>
    </div>
    <div id="detailList"
         hx-trigger="load, listChanged from:body"
         hx-get="?loadDetails=true"
         hx-target="this"
         hx-swap="innerHTML">
        <div class="row spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div id="modal" class="modal fade">
    <div id="dialog" 
         class="modal-dialog modal-lg modal-dialog-centered"
         hx-target="this"
         hx-on::after-swap="HtmxDialog.showModal(event);"
         hx-on::before-swap="HtmxDialog.hideModal(event);">
    </div>
</div>

