@model ContosoUniversity.Middleware.Views.HtmxLayoutModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contoso University</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand"
                   href="/home"
                   hx-trigger="click"
                   hx-get="/home"
                   hx-target="#root"
                   hx-swap="innerHTML"
                   hx-push-url="/home">
                    Contoso University
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                               href="/home"
                               hx-trigger="click"
                               hx-get="/home"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/home">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               href="/home/about"
                               hx-trigger="click"
                               hx-get="/home/about"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/home/about">
                                About
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                               href="/students"
                               hx-trigger="click"
                               hx-get="/students"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/students">
                                Students
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               href="/courses"
                               hx-trigger="click"
                               hx-get="/courses"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/courses">
                                Courses
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                               href="/instructors"
                               hx-trigger="click"
                               hx-get="/instructors"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/instructors">
                                Instructors
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               href="/departments"
                               hx-trigger="click"
                               hx-get="/departments"
                               hx-target="#root"
                               hx-swap="innerHTML"
                               hx-push-url="/departments">
                                Departments
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" id="root" class="pb-3">
            <div hx-trigger="load"
                 hx-get="@Model.Route"
                 hx-target="#root"
                 hx-swap="innerHTML"
                 hx-push-url="@Model.Route">
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Contoso University - <a href="/home/privacy"
                                                  hx-trigger="click"
                                                  hx-get="/home/privacy"
                                                  hx-target="#root"
                                                  hx-swap="innerHTML"
                                                  hx-push-url="/home/privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/htmx/htmx.min-2.0.6.js" defer></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
</body>
</html>
