@using ContosoUniversity.Enums;
@model ContosoUniversity.Models.Course

<form class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Course Details</h5>
    </div>
    <div class="modal-body">
        @Html.Partial("../Shared/DetailPartial.cshtml", Model)
        <div class="text-danger" id="error-message"></div>
    </div>
    <div class="modal-footer">
            <button type="button"
                    class="btn btn-primary"
                    hx-trigger="click"
                    hx-get="/courses/@Model.CourseID?action=@ActionType.Edit.ToString()"
                    hx-target="#dialog"
                    hx-swap="innerHTML">
                        Edit
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>

